<html>
<head>
	<base href="/">

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
	<script src="bower_components/moment/min/moment.min.js"></script>
	<script src="bower_components/moment-timezone/moment-timezone.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="js/ng.js"></script>


	<!--	<script src="bower_components/daterangepicker/lib/daterangepicker/daterangepicker.js"></script>-->

	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet">


	<!-- Include Required Prerequisites -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" /> -->
	<link rel="stylesheet" href="./style/css/daterangepicker.css" />
	<link rel="stylesheet" type="text/css" href="./style/css/style.css"/>

</head>

<body>
	<!--
	<div class="bootstrap col-lg-4">
	<div class="input-daterange input-group" id="datepicker">
	<input id="startDate" type="text" class="input-sm form-control" name="start" />
	<span class="input-group-addon">to</span>
	<input id="endDate" type="text" class="input-sm form-control" name="end" />
</div>
</div> -->
<script >
//$('.bootstrap .input-daterange').datepicker({
//		clearBtn: true,
//		multidate: false,
//		autoclose: true,
//		todayHighlight: true,
//		//datesDisabled: ['10/06/2015', '10/21/2015']
//		startDate: "new Date()",
//	});

//	$(".input-daterange #startDate").datepicker().on('changeDate',
//		function(e){
//			$("#endDate").datepicker("show");
//		}
//		)
</script>
<div class="container" ng-app='property-search' ng-controller='property-search-controller'>
	<div class="row">
		<div class="col-lg-12 form-inline" id="dateSelect">
			<div class="pull-right">
				<div class="daterangepicker form-group">
					<label>Checkin</label>
					<input class="form-control" placeholder="Checkin -> Checkout" type="text" name="daterange" value="01/01/2015-01-31/2015" >
				</div>
				<div class="form-group">
					<label for="adults">Adults</label>
					<select name="adults" class="form-control" id="NumberAdults" ng-model="query.Adults" ng-change="query.NumberGuests=Number(query.Adults)+Number(query.Kids)" ng-options="n + ' Adults' for n in [] | range:1:10">
					</select>
				</div>
				<select class="form-control" id="NumberKids" ng-model="query.Kids" ng-change="query.NumberGuests=Number(query.Adults)+Number(query.Kids)" ng-options="n + ' Kids' for n in [] | range:0:6"></select>
				<button type="button" class="form-control btn btn-default" ng-cick="clearSelection()">Clear</button>
				<hr>
			</div>
		</div>

	</div>
	<div class="row">
		<div class='col-lg-12 property-entry' ng-repeat="resort in filteredResorts = ( resorts | filter:totalGuests(query.Adults,query.Kids) | filter:updateRooms() | filter:filteredProperties() |   orderBy: minrate )">
			<section class="resort-image col-md-4">

				<img ng-src="https://leavetown.com/images/resort/{{resort.imgs[0].URL}}" width="300px">
			</section>
			<div class="col-md-8">
				<section class="resort-heading">
					<span>{{resort.ResortName}}</span>
					<span class="pull-right">Only ${{resort.minrate | number: 2}} per night</span>
				</section>
				<section class="resort-content">
					<!-- <p>{{property.LongDescription | htmlToPlaintext }}</p> -->
					<p ng-bind-html="resort.ResortDescription"></p>
				</section>
			</div>
			<hr>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function(){
	// var sDate = new Date();
	// $('.daterangepicker input[name="daterange"]').daterangepicker(
	// 		{
	// 			locale:{cancelLabel:''},
	//
	// 			// autoApply:true,
	// 			minDate: moment(),
	// 		},
	// 		function(start, end, label) {
	// 			console.log($scope);
	// 	  	console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
	// });
	// $('.daterangepicker input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
	// 	  //do something, like clearing an input
	// 	  $('.daterangepicker input[name="daterange"]').val('');
	// });
});
</script>

</body>
</html>
